@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@600;700;800;900&family=Poppins:wght@100;200;300;400;500&display=swap');

body{
  /* font-family: 'Exo 2', sans-serif; */
  font-family: 'Poppins', sans-serif;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Exo 2', sans-serif;
}
.main-color{
  color: #231D4F;
}
.bg-main-color{
  background-color: #0B0D17;
}